@import "reset.css";
@import "syntax.css";
@import "markdown.css";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lora:400,400i,700,700i&subset=cyrillic');

body {
    font-family: 'Lora', serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    color: rgba(0, 0, 0, .7);
    font-size: 18px;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}
body * {
    transition: all 0.3s ease;
}

#header {
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 2px solid #F0F0F0;
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#header__content {
    flex: 1;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    margin: -12px auto;
    padding-top: 42px;
}
#container .extremeHero-container {
    max-width: 1032px;
}
#container .extremeHero-postContent {
    margin-left: 0;
}

#header__info h1 {
    margin-left: 7px;
    width: 650px;
    color: rgba(0, 0, 0, .7);
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 2em;
}

#header__info p {
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 4px;
    margin-right: 120px;
    word-break: break-word;
    word-wrap: break-word;
    height: 100px;
}

#header__info img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    float: right;
    margin-top: -145px;
    margin-right: 12px;
}

#header__nav {
    justify-content: center;
    width: 100%;
    border-top: 1px solid #F3F3F3;
    display: flex;
    flex: 1;
    margin-bottom: 12px;
}

#header__nav li {
    float: left;
    padding: 13px 20px 15px 0;
    color: rgba(0, 0, 0, .44);
}

#header__nav li a:hover {
    color: rgba(0, 0, 0, .6);
}

#header__nav li a.active__link{
    font-weight: bold;
    border-bottom: 3px solid #f1f1f1;
}

#content {
    width: 100%;
    padding-top: 25px;
}

#content__column {
    width: 650px;
    margin: auto;
}

.post {
    background-color: #FFFFFF;
    border: 1px solid #E8E8E8;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
    margin-bottom: 12px;
}

.post__title {
    color: rgba(0, 0, 0, .8);
    font-size: 1.5em;
}

.post__title>a {
    text-decoration: none !important;
}

.post__text {
    margin-top: 10px;
}

.post__postfix {
    margin-top: 7px;
    font-size: 0.7em;
    color: rgba(0, 0, 0, .44);
}

.archive__post__date {
    margin-top: 7px;
    font-size: 0.7em;
    color: rgba(0, 0, 0, .44);
}

.post__postfix--separator {
    padding-right: .45em;
    padding-left: .45em;
}

.post__postfix--separator::after {
    content: "·";
}

.post__postfix a:hover {
    color: rgba(0, 0, 0, .6);
}
.streamItemHeading a:hover > span {
    color: rgba(0, 0, 0, .84) !important;
}

.more_posts {
    background-color: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.3em;
    padding: 5px;
}

#container .streamItem a.link:hover > img {
    box-shadow: 0 0 8px -3px;
    transform: scale(1.02);
}

.more_posts a {
    text-decoration: none !important;
}

.archive__block {
    background-color: #FFFFFF;
    border: 1px solid #E8E8E8;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 12px;
}

.archive-list a {
    text-decoration: none !important;
}

.archive__year {
    margin: 0 !important;
    color: rgba(0, 0, 0, .8);
    font-size: 1.8em;
}
#container .streamItem > .extremePostPreview {
    padding: 10px;
    margin-bottom: 30px !important;
}
#container .streamItem > .extremePostPreview:hover {
    background-color: rgba(0, 0, 0, .15);
}

#single {
    background-color: #FFFFFF;
    border: 1px solid #E8E8E8;
    padding: 20px;
    border-radius: 3px;
}

.single__title {
    margin: 0;
    color: rgba(0, 0, 0, .8);
    font-size: 1.5em;
}

.single__date {
    margin-top: 7px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, .44);
}

.single__article {
    padding-top: 10px;
}

.single__article:first-letter {
    float: left;
    font-size: 4.5em;
    line-height: 30px;
    padding: 0 8px 0 0;
}

#single p {
    margin-top: 20px;
}

#footer {
    text-align: center;
    margin: 15px;
    font-size: 14px;
}

#footer a {
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    #content__column {
        width: 100%;
    }

    #header__content {
        width: 100%;
    }

    #header__info p {
        width: 70%;
    }

    #header__info h1 {
        width: 70%;
    }

    #header__nav {
        padding-left: 15px;
    }
}
