#content a {
  font-weight: bold;
  text-decoration: underline;
}

#content strong {
  font-weight: bold;
}

#content em {
  font-style: italic;
}

#content img {
  width: 100%;
}

/* CODE */

pre, code {
  text-indent: -2px;
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
}

code {
  padding: 3px 4px;
  background-color: rgba(0,0,0,.05);
  margin: 0 2px;
}

pre {
  overflow-x: auto;
  border-radius: 3px;
  padding: 8px 12px;
  background-color: #272822;
  color: #f8f8f2;
}

pre > code {
  background-color: #272822;
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

p code {
  font-size: 16px; 
}


/*
 *  Tables
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.highlight {
  margin-top: 5px;
}

:not(.highlight) > table {
  margin: 0 auto 1.5em auto;
}

:not(.highlight) > table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

:not(.highlight) > table tr th, :not(.highlight) > table tr td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

:not(.highlight) > table tr th {
  font-weight: bold;
}

:not(.highlight) > table tr:nth-child(2n) {
  background-color: #f8f8f8;
}


/*
 *  Blockquotes
 */

blockquote {
  border-left: 5px solid rgba(0, 0, 0, .44);
  padding-left: 11px;
}

blockquote >:last-child {
  margin-bottom: 0;
}


/*
 *  Headers
 */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 15px;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}


/*
 *  Lists
 */

#content ul {
  list-style-type: disc;
  margin: 9px;
}

#content li {
  margin-left: 15px;
}

#content ul ul {
  list-style: circle;
}

#content ol {
  list-style: decimal;
  margin: 9px;
}

#content ol ol {
  list-style-type: upper-alpha;
}
